.logo{
    font-size:50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: black;
}
body{
  color: black;
  background-color:white;

}
.mix{
    color:brown;}

 header{
    justify-content: space-between;
    display: flex;
    padding: 5px 10px;
    margin: 2rem;
    align-items: center;
    background-color: white;
    
 } 
 nav ul{
    display: inline-flex;
    list-style: none;
    background-color: white;
 }
 nav a{
   color:black;
   padding: 15px 10px;
   margin: 20px 20px;
   font-size: xx-large;
   text-decoration: none;
   background-color: white;

   
 }
 *{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: white;
 }
 nav a:hover{
  color:rgb(170, 114, 40);

   border-radius: 8px;
   transition: 1s;
   

 }
 .col-2{
  flex-basis: 50%;
  min-height: 300px;
  background-color: white;
 }
 .col-2 img{
  max-width:100%;
  padding: 50px 0;
  margin-left: 30%;
  margin-bottom: 5%;
  background-color: white;
  

 }
 
 .col-2 h3{
  font-size: 50px;
  font-weight: 600;
  font-style: italic;
  margin-left: 7%;
  color:black;
  margin-bottom: 5%;
  background-color: white;

  

  

 }
 .fix{
  color: brown;
 }
 .yeah{
  color: brown;
 }
 .yeah:hover{
  color:rgb(104, 104, 162);
  transition: 2s;
 }
 .fix:hover{
  color: seagreen;
  transition: 2s;

 }
 .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
 }
 .container{
  height: 100vh;
  width: 100%;
    
 }
 
 
 .sevice-wrapper{
  padding:5% 10%;
  background-color:white;
 }
 .service{
  display: flex;
  flex-direction: column;  align-items:center;
  text-align: center;
  background-color:white;
 }
 h1{
  margin-bottom: 3%;
  text-align: center;
  font-size: 5rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: transparent;
  color:brown;

  font-size: 3.5rem;

    

    
    
    
  
  

}
h1:after{
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  height: 8px;
  border-radius: 8px;
  background-color: rgba(225,225,225,0.05);
  
}
.cards{
  display: grid;
  grid-template-columns:repeat(4,1fr);
  gap:17px;


}
.card{
  height: 400px;
  width:330px ;
  background-color:white;
  padding: 3% 8%;
  border: 0.2px solid white;
  border-radius: 5px;
  transition: .6s;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border-color:grey ;
  border-style:dotted;
}
.card:after{
  content: "";
  position: absolute;
  top: 150px;
  left: -200px;
  width: 120%;
  transform: rotate(50deg);
  background-color: white;
  height: 18px;
  filter: blur(30px);
  opacity: 0.5;
  transition: 1s;
}
.card:hover{
  
  transform: translateY(-15px);
  border-color:rgb(190, 146, 88);
}


.card h2{
  font-style: italic;
  background-color:white;
  color:black;
  border-radius: 5px;
  margin-top: 20%;
}
.card p{
  font-size:xx-large;
  font-weight: 600;
  margin-top: 30%;
  color:black;
}
.book{
  border: bottom 2px solid white;
  margin: 20px;
  position: relative;
}
.oll{
  line-height: 45px;
  width: 20%;
  color: white ;
  background-color:brown;
  font-size:larger;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-left: 4%;
  
}
.oll:hover{
  background-color: rgb(170, 114, 40);;
}
.oard{
  margin-top: 48%;
}
.fore-father{
  height: 100vh;
  width: 100%;
    
}
.great-grandpa{
  padding:5% 10%;
  background-color:white;
}
.grandpa{
  display: flex;
  flex-direction: column;
  align-items: center;
text-align: center;
  background-color:white;
}
.father{
  display: grid;
  grid-template-columns:repeat(4,1fr);
  gap:17px;

}
.son{
  height: 400px;
  width:330px ;
  background-color:white;
  padding: 3% 8%;
  border: 0.2px solid white;
  border-radius: 5px;
  transition: .6s;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border-color:grey ;
  border-style:dotted;
}
h4{
  margin-bottom: 3%;
  text-align: center;
  font-size: 5rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: transparent;
  color:black;

  font-size: 3.5rem;


}
.son h5{
  font-style: italic;
  background-color:white;
  color:black;
  border-radius: 5px;
  margin-top: 20%;
  font-size:x-large;
}
.son p{
  font-size:xx-large;
  font-weight: 600;
  margin-top: 30%;
  color:black;
}
.son:hover{
  transform: translateY(-15px);
  border-color:rgb(190, 146, 88);
}
.mother{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  
  
}
.daughter{
  flex-basis: 50%;
  min-height: 300px;
  margin-top: 20%;
  
  


  
}
.daughter img{
  
  padding: 50px 0;
  margin-left:1% ;
  border-color:whitesmoke;
  
  
  
  
  
  
}
.daughter h6{
  font-size: 70px;
  font-weight: 600;
  font-style: italic;
  margin-left:17% ;
  margin-bottom: 45%;
  
  
  

  
  
  color:black;
  

}
.go{
  color: brown;
}
footer{
  position: relative;
  width: 100%;
  background:white;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;

}
footer .social-icons,footer .menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  background-color:white;
}
footer .social-icons li,footer .menu li{
  list-style: none;
  background-color:white;
}
footer .social-icons li a,footer .menu li a{
  font-size: 2em;
margin: 0 10px;;
  transition: 0.5s;
  background-color:white;
  color:black;}
footer .social-icons li a:hover{
  transform: translateY(20px);
  
}
footer .menu li a{
  font-size: 1.5rem;
  color:black;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}
footer .menu li a:hover{
  opacity: 1;
}
footer p{
  color: black;
  text-align: center;
  margin-top: 15px;
  background-color:white;
  font-size: 1.5em;
  margin-bottom: 10px;
}
footer .wave{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color:white;

}
.bro{
  border-color: brown;
}



@media screen and (max-width: 800px) {
  .row h3{
    font-size: 26px;
  }
  .oll {
    font-size: 16px;
    width: 100px;
    margin-left: 0;
  }
  body {
    min-width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 400px) {
  .col-2 {
    min-height: fit-content;
  }
  body {
    min-height: 100vh;
  }
  .row {
    margin-top: 30px;
  }
  .book {
    margin: 10px 10px;
  }

  nav a {
    font-size: 16px;
    padding: 15px 0;
    margin: 15px 5px;
  }
  .logo {
    font-size: 16px;
  }

  header {
    margin: 0;
  }
  footer {
    margin-top: 50px;
  }
}
















  
  














 


 
 
 
   
   
   
   
 

 








 
 





